* {
  margin: 0;
  padding: 0;
}

footer {
  margin: 0;
  background-color: rgb(224, 196, 153);
  text-align: center;
}

footer div {
  padding-top: 2%;
  padding-bottom: 0;
}

#form {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 50px;
}


#form div div {
  padding-top: 40px;
}

#input {
  margin-left: 35%;
  text-align: center;
  margin-top: 2%;
  display: inline-block;
}
#buttonSus{
  margin: 5%;
  
}
#section2 {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.65ymas.com/uploads/s1/89/46/66/el-truco-definitivo-para-que-el-olor-del-perfume-dure-todo-el-di-a.jpeg");
  text-align: center;
}


header {
  display: flex;
  justify-content: space-between;
  position: center;
  align-items: center;
  padding: 10px 35px;

}

h1 {
  padding-left: 35%;
  color: rgb(168, 165, 0);
  font-weight: 500px;
  font-size: 30px;
  margin: 0;
}

#cesta-carrito {
  border: none;
  color: #a8a500;
  font-size: 30px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}

#cesta-carrito:focus {
  outline: none;
}

#section {
  height: 300px;
  width: 100%;
  background-image: url("https://c8.alamy.com/compes/2hh5tb6/botella-de-perfume-y-petalos-de-flores-sobre-fondo-beige-pastel-cosmeticos-naturales-con-aceite-aromatico-diseno-para-publicidad-de-productos-espacio-de-copia-banner-f-2hh5tb6.jpg");
}

#section div {
  padding-right: 30px;
  padding-top: 50px;
  padding-left: 28%;
}

#section div p {
  font-size: medium;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#producto-contenedor {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 50px;
  margin: 10px auto;
}

p {
  line-height: 2;
}

img {
  width: 90%;
}

.card {
  border: none !important;
  text-align: center;
  max-width: 23%;
  padding: 10px;

}

select {
  display: inline;
  text-align: center;
  border: 1px solid lightskyblue;
}

.modal-contenedor {
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://www.modaes.com/files/000_2016/avon/avon-tienda-interior-728.jpg");
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .1s;
  visibility: hidden;
}

.modal-active {
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: rgb(168, 165, 0);
  padding-bottom: 50px;
}

.modal-carrito #btn-cerrar-carrito {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: hsl(0, 0%, 0%) !important;
  border: none;

}

.modal-carrito #btn-cerrar-carrito:hover {
  cursor: pointer;
}

.modal-carrito #btn-cerrar-carrito:focus {
  outline: none;
}

.modal-carrito .producto-precio {
  padding-top: 20px;
}

.card .card-image .card-title {

  display: flex;
  align-items: center;
  position: center
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}

.productoEnCarrito:hover {
  border-left: 5px solid rgb(168, 165, 0);
}

.boton-eliminar {
  background-color: white;
  color: #f80c00;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}

.boton-eliminar:focus {
  outline: none;
}

